<div class="w-full h-full bg-gradient-to-r from-gray-800 to-gray-600">

  <div class="flex items-center justify-center h-full">
    <div class="w-96 rounded-3xl py-8 px-4 bg-white">

      <div class="relative flex items-center mb-4">
        <div class="flex-grow border-t border-black"></div>
        <span class="flex-shrink mx-4 text-xl">
          <%= t("login.login") %>
        </span>
        <div class="flex-grow border-t border-black"></div>
      </div>

      <div class="px-4">
        <turbo-frame id="form">
          <%= form_with scope: :session,
                        url: session_path,
                        class: "flex flex-col",
                        data: {controller: "autosubmit"} do |f|
          %>

            <%= render LabelComponent.new(required: true).with_content("Name") %>
            <%= render TextInputComponent.new id: "name",
                                              name: "session[name]",
                                              value: @view_model.name,
                                              maxlength: User::NAME_LENGTH,
                                              errors: @view_model.errors.full_messages_for(:name)
            %>

            <%= render LabelComponent.new(required: true).with_content("Password") %>
            <%= render PasswordInputComponent.new id: "password",
                                                  name: "session[password]",
                                                  maxlength: User::PASSWORD_LENGTH,
                                                  errors: @view_model.errors.full_messages_for(:password)
            %>

            <%= render SubmitButtonComponent.new(text: "Login", classes: "mt-2") %>

            <%= render AutoSubmitButtonComponent.new(url: validate_login_form_path) %>

            <div class="flex gap-1 mx-auto">
              <p><%= t("login.dont_have_an_account")%></p>

              <%= render LinkComponent.new text: "Create now",
                                           href: new_user_path,
                                           classes: "text-blue-400 underline hover:text-blue-500 duration-300",
                                           turbo: false
              %>
            </div>

          <% end %>
        </turbo-frame>
      </div>

    </div>
  </div>
</div>
