<header class="sticky top-0 z-20">
  <div class="flex h-16 bg-black w-full px-8 items-center justify-between">
    <div class="flex space-x-14 items-center">
      <div class="flex space-x-2.5 items-center">
        <%= image_tag "logo.svg" %>
        <%= link_to "Scrumpoher", root_path, class: "text-white text-xl" %>
      </div>
      <% if current_user %>
        <%= link_to t("nav.create_new_game"),
                    new_poker_session_path,
                    class: "px-12 py-2 bg-red-400 text-white rounded-lg font-bold hover:bg-red-500 duration-500"
        %>
      <% end %>
    </div>
    <div class="flex space-x-16 items-center">
      <% if current_user %>
        <div data-controller="dropdown" class="relative w-max">
          <button
            type="button"
            class="text-white"
            data-action="dropdown#toggle click@window->dropdown#hide"
          >
            <div class="flex space-x-2 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
              <span><%= current_user.name %></span>
            </div>
          </button>

          <div
            data-dropdown-target="menu"
            class="hidden transition transform origin-top-right absolute right-0 w-max"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95"
          >
            <div class="flex flex-col p-4 bg-white shadow-2xl rounded-2xl space-y-2">
              <div class="flex space-x-4 items-center">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2C8.60077 1.99974 7.22593 2.36649 6.01273 3.06363C4.79952 3.76077 3.79038 4.76392 3.08603 5.97295C2.38168 7.18199 2.00675 8.55462 1.99868 9.95383C1.9906 11.3531 2.34966 12.7299 3.04001 13.947C3.50662 13.3406 4.10644 12.8496 4.7931 12.512C5.47975 12.1744 6.23485 11.9992 7.00001 12H13C13.7652 11.9992 14.5203 12.1744 15.2069 12.512C15.8936 12.8496 16.4934 13.3406 16.96 13.947C17.6504 12.7299 18.0094 11.3531 18.0013 9.95383C17.9933 8.55462 17.6183 7.18199 16.914 5.97295C16.2096 4.76392 15.2005 3.76077 13.9873 3.06363C12.7741 2.36649 11.3993 1.99974 10 2ZM17.943 16.076C19.28 14.333 20.0032 12.1968 20 10C20 4.477 15.523 0 10 0C4.47701 0 1.12532e-05 4.477 1.12532e-05 10C-0.00329018 12.1968 0.719917 14.333 2.05701 16.076L2.05201 16.094L2.40701 16.507C3.3449 17.6035 4.5094 18.4836 5.82024 19.0866C7.13109 19.6897 8.55711 20.0013 10 20C12.0273 20.0037 14.0074 19.3879 15.675 18.235C16.3859 17.7438 17.0306 17.163 17.593 16.507L17.948 16.094L17.943 16.076ZM10 4C9.20436 4 8.4413 4.31607 7.87869 4.87868C7.31608 5.44129 7.00001 6.20435 7.00001 7C7.00001 7.79565 7.31608 8.55871 7.87869 9.12132C8.4413 9.68393 9.20436 10 10 10C10.7957 10 11.5587 9.68393 12.1213 9.12132C12.6839 8.55871 13 7.79565 13 7C13 6.20435 12.6839 5.44129 12.1213 4.87868C11.5587 4.31607 10.7957 4 10 4Z" fill="#1E1E1E" fill-opacity="0.8"/>
                </svg>
                <%= link_to t("nav.profile"), user_path %>
              </div>
              <div class="flex space-x-4 text-red-500 items-center">
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.35239 2C3.64876 2 3.933 1.89464 4.14256 1.70711C4.35213 1.51957 4.46986 1.26522 4.46986 1C4.46986 0.734784 4.35213 0.48043 4.14256 0.292893C3.933 0.105357 3.64876 0 3.35239 0H1.11746C0.821095 0 0.536863 0.105357 0.327298 0.292893C0.117733 0.48043 0 0.734784 0 1V15C0 15.2652 0.117733 15.5196 0.327298 15.7071C0.536863 15.8946 0.821095 16 1.11746 16H3.35239C3.64876 16 3.933 15.8946 4.14256 15.7071C4.35213 15.5196 4.46986 15.2652 4.46986 15C4.46986 14.7348 4.35213 14.4804 4.14256 14.2929C3.933 14.1054 3.64876 14 3.35239 14H2.23493V2H3.35239ZM18.7958 7.42L15.6445 3.42C15.4736 3.20441 15.2143 3.05814 14.9232 3.01317C14.6321 2.9682 14.333 3.02818 14.0912 3.18C13.9704 3.25579 13.8675 3.35224 13.7885 3.46381C13.7095 3.57537 13.656 3.69982 13.6311 3.82998C13.6062 3.96015 13.6103 4.09344 13.6432 4.22217C13.6762 4.3509 13.7373 4.47252 13.823 4.58L15.7451 7H6.70479C6.40842 7 6.12419 7.10536 5.91462 7.29289C5.70506 7.48043 5.58732 7.73478 5.58732 8C5.58732 8.26522 5.70506 8.51957 5.91462 8.70711C6.12419 8.89464 6.40842 9 6.70479 9H15.6445L13.6331 11.4C13.545 11.5051 13.481 11.6246 13.4445 11.7518C13.4081 11.879 13.4001 12.0114 13.4208 12.1414C13.4416 12.2714 13.4907 12.3965 13.5655 12.5095C13.6403 12.6225 13.7392 12.7212 13.8566 12.8C14.05 12.9298 14.2853 13 14.527 13C14.7005 13 14.8716 12.9639 15.0268 12.8944C15.182 12.825 15.3169 12.7242 15.421 12.6L18.7734 8.6C18.9165 8.43087 18.9958 8.22539 18.9998 8.01326C19.0039 7.80114 18.9324 7.59338 18.7958 7.42Z" fill="#ef4444" fill-opacity="0.8"/>
                </svg>
                <%= link_to t("nav.logout"), session_path, data: { turbo_method: :delete } %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to t("nav.sign_up"),
                    new_user_path,
                    class: "rounded-md p-1.5 bg-white hover:bg-black hover:text-white duration-500"
        %>
        <%= link_to t("nav.login"),
                    new_session_path,
                    class: "text-white rounded-md p-1.5 hover:bg-white hover:text-black duration-500"
        %>
      <% end %>
    </div>
  </div>
</header>
