<aside style="box-shadow: inset 0 20px 20px -20px rgba(0,0,0,1);" class="min-w-[355px] w-3/12 h-full bg-white p-9">
  <div class="flex flex-col h-full justify-between">
    <svg class="mb-2" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18.3259 1.04772C17.9011 0.533944 17.0989 0.533943 16.6741 1.04772C10.0613 9.045 0 12.6078 0 21C0 24.5 4.375 28 8.75 28C10.9375 28 13.125 28 15.3125 26.25C15.3125 26.25 15.858 28.9773 12.4951 33.2281C11.9474 33.9204 12.4123 35 13.295 35H21.9275C22.7753 35 23.2472 33.9996 22.7547 33.3095C19.6875 29.0121 19.6875 26.25 19.6875 26.25C21.875 28 24.0625 28 26.25 28C30.625 28 35 24.5 35 21C35 12.6078 24.9387 9.045 18.3259 1.04772Z" fill="#1E1E1E"/>
    </svg>
    <div class="flex flex-col space-y-4 px-5 text-2xl">
      <div class="flex space-x-2 items-center">
        <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.909091 9.32075V7.77636H19.0909V9.32075H0.909091ZM1.95455 4.64899L0.772727 4.06984L1.54545 2.91155H0V1.75327H1.54545L0.772727 0.633587L1.95455 0.0544434L2.72727 1.17412L3.5 0.0544434L4.68182 0.633587L3.90909 1.75327H5.45455V2.91155H3.90909L4.68182 4.06984L3.5 4.64899L2.72727 3.4907L1.95455 4.64899ZM9.22727 4.64899L8.04545 4.06984L8.81818 2.91155H7.27273V1.75327H8.81818L8.04545 0.633587L9.22727 0.0544434L10 1.17412L10.7727 0.0544434L11.9545 0.633587L11.1818 1.75327H12.7273V2.91155H11.1818L11.9545 4.06984L10.7727 4.64899L10 3.4907L9.22727 4.64899ZM16.5 4.64899L15.3182 4.06984L16.0909 2.91155H14.5455V1.75327H16.0909L15.3182 0.633587L16.5 0.0544434L17.2727 1.17412L18.0455 0.0544434L19.2273 0.633587L18.4545 1.75327H20V2.91155H18.4545L19.2273 4.06984L18.0455 4.64899L17.2727 3.4907L16.5 4.64899Z" fill="#1E1E1E" fill-opacity="0.8"/>
        </svg>
        <%= link_to "Edit password", new_user_password_path %>
      </div>
      <div class="flex space-x-2 items-center">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z" stroke="#1E1E1E" stroke-opacity="0.8" stroke-width="2"/>
          <path d="M10 5L11.5476 8.29167L15 8.83333L12.5 11.375L13.0952 15L10 13.2917L6.90476 15L7.5 11.375L5 8.83333L8.45238 8.29167L10 5Z" fill="#EC625F" fill-opacity="0.8"/>
        </svg>
        <%= link_to "My ratings", root_path %>
      </div>
      <div class="flex space-x-2 items-center">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_158_45)">
            <path d="M18 11V16C18 16.5304 17.7893 17.0391 17.4142 17.4142C17.0391 17.7893 16.5304 18 16 18H2C1.46957 18 0.960859 17.7893 0.585786 17.4142C0.210714 17.0391 0 16.5304 0 16V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H7V2H2V16H16V11H18Z" fill="#1E1E1E" fill-opacity="0.8"/>
            <path d="M15.75 5.25H12.75V2.25H11.25V5.25H8.25V6.75H11.25V9.75H12.75V6.75H15.75V5.25Z" fill="#EC625F" fill-opacity="0.8"/>
          </g>
          <defs>
            <clipPath id="clip0_158_45">
              <rect width="18" height="18" fill="white"/>
            </clipPath>
          </defs>
        </svg>
        <%= link_to "Created session", root_path %>
      </div>
      <div class="flex space-x-2 items-center">
        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_158_14)">
            <path d="M14 11H9V16H14V11ZM13 0V2H5V0H3V2H2C0.89 2 0.00999999 2.9 0.00999999 4L0 18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H16C17.1 20 18 19.1 18 18V4C18 2.9 17.1 2 16 2H15V0H13ZM16 18H2V7H16V18Z" fill="#1E1E1E" fill-opacity="0.8"/>
          </g>
          <defs>
            <clipPath id="clip0_158_14">
              <rect width="18" height="20" fill="white"/>
            </clipPath>
          </defs>
        </svg>
        <%= link_to "Session invations", root_path %>
      </div>
      <div class="flex space-x-2 items-center">
        <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.69008 10.4994L3.99874 8.19868C4.06397 8.13348 4.11571 8.05607 4.15101 7.97088C4.18632 7.88569 4.20448 7.79438 4.20448 7.70217C4.20448 7.60996 4.18632 7.51865 4.15101 7.43346C4.11571 7.34827 4.06397 7.27086 3.99874 7.20566C3.93351 7.14046 3.85607 7.08874 3.77085 7.05345C3.68562 7.01816 3.59428 7 3.50203 7C3.40978 7 3.31844 7.01816 3.23321 7.05345C3.14798 7.08874 3.07055 7.14046 3.00532 7.20566L0.206939 10.0029C0.141367 10.0679 0.0893212 10.1452 0.0538037 10.2305C0.0182862 10.3157 0 10.4071 0 10.4994C0 10.5917 0.0182862 10.6831 0.0538037 10.7683C0.0893212 10.8536 0.141367 10.9309 0.206939 10.9959L3.00532 13.7931C3.07035 13.8587 3.14773 13.9107 3.23298 13.9462C3.31823 13.9817 3.40967 14 3.50203 14C3.59438 14 3.68582 13.9817 3.77108 13.9462C3.85633 13.9107 3.9337 13.8587 3.99874 13.7931C4.06431 13.7281 4.11636 13.6508 4.15188 13.5656C4.18739 13.4804 4.20568 13.389 4.20568 13.2966C4.20568 13.2043 4.18739 13.1129 4.15188 13.0277C4.11636 12.9425 4.06431 12.8651 3.99874 12.8001L1.69008 10.4994Z" fill="#EC625F" fill-opacity="0.8"/>
          <path d="M22.1845 10.1448L18.4144 8.26225H20.9702C22.0385 8.26126 23.0627 7.87844 23.8182 7.19778C24.5737 6.51712 24.9987 5.5942 25 4.6315C24.9987 3.66873 24.5737 2.74574 23.8182 2.06496C23.0628 1.38418 22.0386 1.00119 20.9702 1L12.0485 1C10.71 1.00139 9.4268 1.48116 8.48036 2.33405C7.53393 3.18695 7.00154 4.34332 7 5.5495C7.00028 6.4283 7.26152 7.29103 7.7566 8.04816C8.25169 8.80529 8.96258 9.42923 9.81552 9.85525L13.5856 11.7378H11.0298C9.9615 11.7387 8.93727 12.1216 8.1818 12.8022C7.42634 13.4829 7.00132 14.4058 7 15.3685C7.00132 16.3313 7.42631 17.2543 8.18175 17.935C8.9372 18.6158 9.96142 18.9988 11.0298 19H19.9515C21.29 18.9986 22.5732 18.5188 23.5196 17.6659C24.4661 16.8131 24.9985 15.6567 25 14.4505C24.9995 13.5717 24.7382 12.7091 24.2432 11.952C23.7481 11.1949 23.0373 10.5709 22.1845 10.1448ZM10.4197 8.86975C9.77673 8.54838 9.23819 8.08104 8.85758 7.51412C8.47696 6.94719 8.26752 6.30042 8.25005 5.638C8.19928 3.7075 9.99945 2.125 12.1442 2.125H20.8895C22.3851 2.125 23.6734 3.1585 23.7475 4.50475C23.766 4.84396 23.708 5.18304 23.5769 5.50145C23.4457 5.81985 23.2442 6.11094 22.9846 6.35708C22.7249 6.60322 22.4125 6.79929 22.0662 6.93339C21.72 7.0675 21.3471 7.13685 20.9702 7.13725H15.9334C15.7855 7.13725 15.6437 7.19019 15.5391 7.28443C15.4346 7.37867 15.3758 7.50648 15.3758 7.63975L15.375 11.3448L10.4197 8.86975ZM19.8558 17.875H11.1097C9.61411 17.875 8.32578 16.8415 8.25171 15.4953C8.23312 15.156 8.29115 14.817 8.42229 14.4986C8.55343 14.1802 8.75494 13.8891 9.01461 13.6429C9.27428 13.3968 9.58671 13.2007 9.93296 13.0666C10.2792 12.9325 10.6521 12.8631 11.0289 12.8628H16.0666C16.3745 12.8628 16.6242 12.6378 16.6242 12.3603V8.65525L21.5794 11.1302C22.2226 11.4515 22.7613 11.9188 23.1421 12.4858C23.5228 13.0527 23.7324 13.6995 23.75 14.362C23.7999 16.2933 21.9997 17.875 19.8558 17.875Z" fill="#1E1E1E" fill-opacity="0.8"/>
          <path d="M8.49996 5.63143C8.45372 3.87316 10.1063 2.375 12.1442 2.375H20.8895C22.2852 2.375 23.4327 3.33526 23.4978 4.51843C23.5144 4.8199 23.4629 5.12182 23.3457 5.40624C23.2285 5.69077 23.0477 5.95278 22.8126 6.17564C22.5774 6.39856 22.293 6.57746 21.9759 6.70027C21.6588 6.82308 21.3165 6.88688 20.97 6.88725H15.9334C15.7271 6.88725 15.5247 6.96086 15.3718 7.09871C15.2179 7.23733 15.1258 7.43125 15.1258 7.63969C15.1258 7.63971 15.1258 7.63973 15.1258 7.63975L15.1251 10.9405L10.5315 8.64612C10.5315 8.64612 10.5315 8.64611 10.5314 8.6461C9.92503 8.343 9.42035 7.90385 9.06514 7.37477C8.71009 6.84592 8.51615 6.24497 8.49996 5.63143ZM8.49996 5.63143L8.25005 5.638L8.49996 5.63143ZM11.1097 17.625H19.8558C21.8928 17.625 23.5454 16.1277 23.5 14.3686L11.1097 17.625ZM11.1097 17.625C9.71398 17.625 8.56647 16.6647 8.50134 15.4816L11.1097 17.625ZM22.2962 9.92112L22.2962 9.92108L19.4747 8.51225H20.9702H20.9705C22.097 8.5112 23.1817 8.10772 23.9855 7.38351C24.7902 6.65853 25.2486 5.66962 25.25 4.63184V4.63116C25.2486 3.59332 24.7902 2.60434 23.9856 1.87924C23.1818 1.15491 22.0972 0.751256 20.9705 0.75H20.9702L12.0485 0.75L12.0482 0.75C10.6514 0.75145 9.30777 1.25189 8.313 2.14834C7.31738 3.04556 6.75164 4.26793 6.75 5.54918L6.75 5.54958C6.7503 6.47845 7.02652 7.38846 7.54736 8.18498C8.06802 8.98121 8.81347 9.6342 9.70381 10.0789L9.70383 10.0789L12.5253 11.4878H11.0298H11.0295C9.90295 11.4888 8.81827 11.8923 8.01446 12.6165C7.20981 13.3415 6.75143 14.3304 6.75 15.3682L6.75 15.3688C6.75142 16.4067 7.20977 17.3957 8.01439 18.1208C8.81816 18.8451 9.90284 19.2487 11.0295 19.25H11.0298H19.9515H19.9518C21.3486 19.2485 22.6922 18.7481 23.687 17.8517C24.6826 16.9544 25.2484 15.7321 25.25 14.4508V14.4504C25.2495 13.5216 24.9732 12.6116 24.4524 11.8151C23.9318 11.019 23.1864 10.3659 22.2962 9.92112ZM8.50133 15.4815C8.48482 15.1801 8.53632 14.8782 8.65345 14.5938C8.77064 14.3092 8.95149 14.0472 9.1866 13.8244C9.42177 13.6014 9.70617 13.4225 10.0233 13.2997C10.3404 13.1769 10.6827 13.1131 11.0292 13.1128H16.0666C16.4875 13.1128 16.8742 12.7997 16.8742 12.3603V9.05957L21.4677 11.3539C21.4677 11.3539 21.4677 11.3539 21.4677 11.3539C22.0743 11.6569 22.5792 12.096 22.9345 12.6251C23.2897 13.1539 23.4837 13.7549 23.5 14.3685L8.50133 15.4815Z" stroke="#1E1E1E" stroke-opacity="0.8" stroke-width="0.5"/>
        </svg>
        <%= link_to "Previous sessions", root_path %>
      </div>
    </div>
    <div class="flex w-full justify-end">
      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.6741 33.9523C17.0989 34.4661 17.9011 34.4661 18.3259 33.9523C24.9387 25.955 35 22.3922 35 14C35 10.5 30.625 7 26.25 7C24.0625 7 21.875 7 19.6875 8.75C19.6875 8.75 19.142 6.02272 22.5049 1.77191C23.0526 1.0796 22.5877 -1.08511e-06 21.705 -1.16229e-06L13.0725 -1.91696e-06C12.2247 -1.99108e-06 11.7528 1.00042 12.2453 1.69051C15.3125 5.98788 15.3125 8.75 15.3125 8.75C13.125 7 10.9375 7 8.75 7C4.375 7 2.14186e-06 10.5 1.83588e-06 14C1.10221e-06 22.3922 10.0613 25.955 16.6741 33.9523Z" fill="#1E1E1E"/>
      </svg>
    </div>
  </div>
</aside>
